<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @ramen_shop.name %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                  <div class="star-rating-front" style="width: <%= @ramen_shop.ramen_review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                   <%= @ramen_shop.avg_score %>点（<%= @ramen_shop.ramen_reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <div class="about-shop">
          <div class="shop-intro">私達は一麺入魂でラーメン作りをしております。先代から受け継いできたこのラーメン店を全国へ、そして世界へ広げることが夢です。日本で一番うまいラーメンを作っている自信がありますので、是非一度ご来店頂き、私たちのラーメンを堪能してください。</div>
          <div class="shop-intro-img"><%=image_tag "owner-image.png", class:"sized" %><div class="owner-name">店主 : 本山 隆</div></div>
        </div>
          <div class="shop-detail">昭和３５年に開業した久留米市の老舗ラーメン店。濃い味、バリカタのラーメンを求め県外から来る人も少なくない。セルフサービスで置いてある辛子高菜をラーメンに入れることで味の変化も楽しむことが可能になります。</div>
  
        <br>
        <div class="ramens">おすすめのラーメン</div>
        <div class="ramen-img">
          <%=image_tag "ramen4.jpg"%>
          <%=image_tag "ramen5.jpg"%>
          <%=image_tag "ramen2.jpg"%>
        </div>
        <div class="pop-ramens">
          <div class="pop-ramen">豚骨ラーメン</div>
          <div class="pop-ramen">味噌ラーメン</div>
          <div class="pop-ramen">醤油ラーメン</div>
        </div>
        <table class="table is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>ユーザー</th><th>点数</th><th>内容</th>
            </tr>
          </thead>
          <tbody>
            <% @ramen_reviews.each do |review| %>
              <tr>
                <td><%= review.user.username %></td>
                <td><%= review.score %></td>
                <td><%= review.content %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>